header{
  background-color: green;
  color: rgb(42, 41, 41);
}
footer{
  background-color: green;
  margin-top:auto;
}
*{
  text-align:center;
}

body{
  background-color: rgba(250,250,210,0.5);
  margin:0;
  display: flex;
  min-height: 100dvh;
  flex-direction:column;
}


nav {
  background-color: darkgreen; /* Set background color */
  padding: 10px 0; /* Add padding */
}

/* Styles for the unordered list */
nav ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Use Flexbox to align items horizontally */
  justify-content: center; /* Center items */
}

/* Styles for each list item */
nav li {
  margin: 0 15px; /* Add spacing between list items */
  background-color: rgba(114, 185, 7, 0.3);
  border-radius: 20px;
}

/* Styles for the navigation links */
nav a {
  color: lightyellow; /* Link color */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Add padding */
  display: block; /* Make links block elements for better padding/margins */
  font-size: (8px,1.5vw,20px);
}

/* Hover effect for links */
nav a:hover {
 background-color: rgba(114, 185, 7, 0.7);
  border-radius: 20px;
}
.current{
  background-color: rgba(114, 185, 7, 0.7);
  border-radius: 20px;
}

iframe{
  align-self: center;
}

header h1{
  font-size: clamp(30px, 6vw, 40px);
}

#websiteLogo{
  float: left;
  width: clamp(70px, 15vw, 500px);
  height: auto;
}

.hover {
    position: relative; /* Establishes a positioning context */
    display: inline-block; /* Or adjust to fit your layout */
}
.pop{
    bottom: 100%; /* Positions the image above the title */
     /* Centers the image horizontally */
     /* Hide the image by default */
    transition: height 1s ease;
    height:0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hover:hover h1{
  transition: opacity 1s ease, height 1s ease;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.hover:hover img{
    width: auto;
    height: 30vw;
    margin-top: 5vh;
}